*{margin: 0;padding: 0;}

#area{
    display: flex;
    margin:20px;
}

#campo{
    position: relative;    
}

#lateral{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.linha{
    display: flex;
    flex-direction: row;
}

.linha .celula{
    width: 60px;
    height: 60px;
    border-top: black 1px solid;
    border-left: black 1px solid;
}

.linha .cel-f{
    border-right: black 1px solid;
}

.lin-f .celula{
    border-bottom: black 1px solid;
}

.id-linha{
   line-height: 60px;
   width: 20px;
}

#indice-coluna{
    display:flex;
    flex-direction: row;
    margin-top: 10px;
}

.id-coluna-pr{
    width: 20px;
}

.id-coluna{
    width: 60px;
    text-align: center;
}

#irrigador{
    position: absolute;
    transform: rotate(180deg);
    top: 0px; /* passos de 60px, começa em 0px, 0 é y = tamanhoCampoY-1, 60*(tamanhoCampo(y)-y)*/
    left: 0px; /* passos de 60px, começa em 0px, 0 é x = 0, 60*x */
}

.pt_irr{
    position: absolute;
    top: 0px;
    left: 0px;
}

#controles{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 30px;
}

.form-control{
    display: flex;
    flex-direction: column;
    
}

form input{
    margin-bottom: 10px;
    width: 300px;
}

#tabelas{
    margin-top: 30px;
}

#tabelas table{
    width: 100%;
    margin-top: 10px;
}

#tabelas h3{
    margin-top: 10px;
}

#tabelas td{
    text-align: center;
}

#tabelas table, th, td{
    border: black 1px solid;
}